$color-black-primary: #242424;
$color-black-secondary: #555555;

$color-navy-primary: #1a304e;
$color-navy-secondary: #152B49;

$color-blue-primary: #4483ff;
$color-blue-secondary: #2e60c8;

$color-primary: $color-blue-primary;
$color-secondary: $color-blue-secondary;
$color-heading: $color-black-primary;
$color-body: $color-black-secondary;
$color-ascent: $color-navy-primary;

$color-danger: #E35959;
$color-info: $color-blue-primary;
$color-success: #50C96B;