@for $i from 1 through 16 {
    .margin-top-#{$i * 5} {
        margin-top: #{$i * 5}px !important;
    }

    .margin-bottom-#{$i * 5} {
        margin-bottom: #{$i * 5}px !important;
    }

    .padding-top-#{$i * 5} {
        padding-top: #{$i * 5}px !important;
    }

    .padding-bottom-#{$i * 5} {
        padding-bottom: #{$i * 5}px !important;
    }
}