@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

$font-oswald: 'Oswald', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$font-heading: $font-oswald;
$font-body: $font-roboto;