.form-control {
    padding: 13px 20px;
    border-radius: 0 !important;
    height: auto;

    &:focus {
        box-shadow: none;
        outline: none;
    }

    option {
        margin-bottom: 8px;
        padding: 4px;
    }
}

.input-group {
    .input-group-text {
        background: transparent;
        border-radius: 0 !important;
        color: $color-primary;
    }
}

.form-control-range {
    transition: .5s;
    height: 4px;

    &::-moz-range-thumb {
        background-color: $color-primary;
    }

    &::-webkit-slider-thumb {
        background-color: $color-primary;
    }
}