.title__custom {
    position: relative;

    .styled {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 12px;
            left: 0;
            width: 100%;
            height: 8px;
            background-color: rgba($color: $color-primary, $alpha: .6);
        }
    }
}